name: aac_communication
description: Aplicatie AAC Communication System - Flutter Web
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  provider: ^6.1.1
  cached_network_image: ^3.3.0
  flutter_tts: ^4.0.2
  shared_preferences: ^2.2.2
  cupertino_icons: ^1.0.6
  image_picker: ^1.0.7
  animate_do: ^3.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true


